/* Resetujemo osnovne stilove */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Postavke za telo stranice */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Glavni kontejner */
h1 {
    text-align: center;
    margin: 20px 0;
    color: #2c3e50;
}

/* Stil forme */
form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #2980b9;
    border-radius: 5px;
    width: 300px;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3498db;
}

/* Dodatni stilovi za mobilne uređaje */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
